body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f9f9f9;
  color: #222;
}

input[type="submit"] {
  background-color: #007acc;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005fa3;
}

input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.data {
  margin-top: 20px;
  overflow-x: auto;
  flex: 1;
  min-width: 300px;
}

table {
  width: 100%;
  min-width: 300px;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}


th, td {
  border: 1px solid #888;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #eee;
  font-weight: bold;
}

@media (min-width: 900px) {
  #table-region,
  #table-currency {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}

.tables-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap; 
}


form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
  margin-bottom: 25px;
}


h3 {
  text-align: center;
  margin-bottom: 30px;
}

.form-controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-bottom: 30px;
}

.top-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottom-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

#stats-total {
  text-align: center;
}
